<!-- this configuration is only used by iis web server -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/launch-website.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode promoteServerVars="LOGON_USER" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" debuggingEnabled="false" debuggerPathSegment="debug" watchedFiles="server*.js;node_modules*;config.js" />
    <rewrite>
      <rules>
        <clear />
        <rule name="server" patternSyntax="Wildcard">
          <match url="*" negate="false" />
          <action type="Rewrite" url="src/launch-website.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
