div#buildListContainer td {
  word-wrap: break-word;
  word-break: break-word;
}

.btn {
  border-radius:0;
}

tbody tr:hover td {
  background-color: #E6F2FA;
}

tbody tr.selectedRow td {
  background-color: #CDE6F7;
}

tbody tr:hover.selectedRow td {
  background-color: #BDDEF4;
}
