p.userName {
  padding: 0 25px 0 0;
}

.btn {
  border-radius:0;
}

#buildDetailsContainer table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
  cursor: default;
}

tr:hover td {
  background-color: #E6F2FA;
}

tr.selectedRow td {
  background-color: #CDE6F7;
}

tr:hover.selectedRow td {
  background-color: #BDDEF4;
}

span.fuzzy-date {
  border-color: grey;
  border-bottom: 1px dotted;
}

.message {
  padding: 15px;
}

.btn[disabled] {
  cursor: default;
}
