<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <title>{{title}}</title>
  <link href="bootstrap.min.css" rel="stylesheet" />
  <link href="app.css" rel="stylesheet" />
  <link href="bootstrap-toggle.min.css" rel="stylesheet">
  <link href="toastr.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="#"><img style="margin-top: 7px; margin-right: 1em;" src="logo.png" width="27px"/></a>
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-theme="default" class="theme-link">Default</a></li>
              <li><a href="#" data-theme="amelia" class="theme-link">Amelia</a></li>
              <li><a href="#" data-theme="cerulean" class="theme-link">Cerulean</a></li>
              <li><a href="#" data-theme="cosmo" class="theme-link">Cosmo</a></li>
              <li><a href="#" data-theme="cyborg" class="theme-link">Cyborg</a></li>
              <li><a href="#" data-theme="flatly" class="theme-link">Flatly</a></li>
              <li><a href="#" data-theme="journal" class="theme-link">Journal</a></li>
              <li><a href="#" data-theme="readable" class="theme-link">Readable</a></li>
              <li><a href="#" data-theme="simplex" class="theme-link">Simplex</a></li>
              <li><a href="#" data-theme="slate" class="theme-link">Slate</a></li>
              <li><a href="#" data-theme="spacelab" class="theme-link">Spacelab</a></li>
              <li><a href="#" data-theme="united" class="theme-link">United</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    <p class="navbar-text navbar-right userName">{{ntlm.DomainName}}\\{{ntlm.UserName}}</p>
  </div>
    <div class="container-fluid">
      <div class="row">
        <div id="buildListContainer" class="col-md-4"></div>
        <div class="col-md-8">
          <div id="buildDetailsContainer"></div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap-toggle.min.js"></script>
    <script src="toastr.js"></script>
    <script src="main.js"></script>
    <script>
      $(function(){
        $('.build-list-table').css({ height: $(window).innerHeight() - 130 });
        $(window).resize(function(){
          $('.build-list-table').css({ height: $(window).innerHeight() - 130 });
        });
      });
    </script>
    <script>
      toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      };
    </script>
    <script>
    var themes = {
        "default": "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css",
        "amelia" : "//bootswatch.com/amelia/bootstrap.min.css",
        "cerulean" : "//bootswatch.com/cerulean/bootstrap.min.css",
        "cosmo" : "//bootswatch.com/cosmo/bootstrap.min.css",
        "cyborg" : "//bootswatch.com/cyborg/bootstrap.min.css",
        "flatly" : "//bootswatch.com/flatly/bootstrap.min.css",
        "journal" : "//bootswatch.com/journal/bootstrap.min.css",
        "readable" : "//bootswatch.com/readable/bootstrap.min.css",
        "simplex" : "//bootswatch.com/simplex/bootstrap.min.css",
        "slate" : "//bootswatch.com/slate/bootstrap.min.css",
        "spacelab" : "//bootswatch.com/spacelab/bootstrap.min.css",
        "united" : "//bootswatch.com/united/bootstrap.min.css"
    };
    $(function(){
       var themesheet = $('<link href="'+themes['default']+'" rel="stylesheet" />');
        themesheet.appendTo('head');
        $('.theme-link').click(function(){
           var themeurl = themes[$(this).attr('data-theme')];
            themesheet.attr('href',themeurl);
        });
    });
    </script>
</body>

</html>
