p.userName {
  padding: 0 25px 0 0;
}

img.user-icon {
  border-radius: 50%; 
}

.btn .navbar {
  border-radius:0;
}

#buildDetailsContainer table {
  table-layout: fixed;
}

.build-list-table {
  overflow-y: scroll;
  clear: both;
}

.build-list-header {
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  .build-list-header-title {
    float: left;
  }

  .build-list-header-filters {
    width: 294px;
    margin-left: auto;
  }
}

.miaow {
  position: fixed;
  bottom: 10px; 
  color: #FEFEFE;
  font-size: 6em;
  -webkit-transition: color 0.1s ease-in 0s;
  -moz-transition: color 0.1s ease-in 0s;
  transition: color 0.1s ease-in 0s;
}

.miaow:hover {
  color: black;
  -webkit-transition: color 5s ease-in 5s;
  -moz-transition: color 5s ease-in 5s;
  transition: color 5s ease-in 5s;
}

td {
  word-wrap: break-word;
  cursor: default;
}

tr:hover td {
  background-color: #E6F2FA;
}

tr.selectedRow td {
  background-color: #CDE6F7;
}

tr:hover.selectedRow td {
  background-color: #BDDEF4;
}

span.fuzzy-date {
  border-color: grey;
  border-bottom: 1px dotted;
}

.message {
  padding: 15px;
}

.btn[disabled] {
  cursor: default;
}


/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.commit-message-container p {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 0.3em;
}

.commit-message-container input {
  width: 100%;
  padding-left: 7em;
  position: relative;
  top: -2.32em;
  z-index: 0;
}

div#ApproveChangesContainer {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

div#ApproveChangesContainer div.skylight-dialog div {
  margin: 15px 0px;
}

div#ApproveChangesContainer div.skylight-dialog div.btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
}

div#ApproveChangesContainer div.skylight-dialog div.btn-group .btn {
  margin-right: 15px;  
}

div#ApproveChangesContainer div.skylight-dialog div.btn-group span span {
  margin-right: 15px;  
}